@keyframes animation {
    to {
    	transform:rotate(360deg);
  	}
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin: 0 0;
	padding: 0 0;
}

ul {
	position: fixed;

	top: 50%;

	margin: -185px 0 0 30px;
	padding: 0 0;

	list-style-type: none;
}

a {
	margin: 10px 0;

	display: block;

	width: 30px;
	height: 30px;

	border-radius: 100px;

	background: black;
}

a:hover {
	transition: 0.5s;
	transform: scale(1.1);
	background: white;
}

section {
	display: flex;

	height: 100vh;

	margin: 0 0;
	padding: 0 0;
}

section:nth-child(3n+2) {
	background: red;
}

section:nth-child(3n) {
	background: green;
}

section:nth-child(3n+1) {
	background: blue;
}

.wrapper {
	display: flex;
	flex-direction: rows;
	justify-content: center;

	margin: 0 0 0 90px;
}

article {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 50%;
}

div {
	text-align: center;

	margin: 25px;
}

article h2 {
	margin: 1% 0;
}

article img {
	margin: 1% auto;
	clear: both;
	width: 50%;
}

aside {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 50%;
}

aside img {
	margin: 3% auto;

	animation-name: animation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	width: 25%;
}

table {
	margin: 3% auto;
	width: 90%;

	border-collapse: collapse;
}

th {
	text-align: left;

	padding: 5% 5%;

	border-top: 1px solid black;
	border-bottom: 1px solid black;

	width: 35%;
}

td {
	text-align: center;

	padding: 5% 5%;

	border-top: 1px solid black;
	border-bottom: 1px solid black;

	width: 65%;
}